@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant

<h4>Add a new restaurant</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating)
  @Html.LabelFor(model => model.Cuisine)
  @Html.TextBoxFor(model => model.Cuisine)

  <input type="submit" value="Add new restaurant" />
}

<p>@Html.ActionLink("Show all restaurants", "Index")</p>
